.flask_container{
    width: 75%;
    margin: 25px auto;
    border: 1px solid rgba(200, 20 , 20 , 35);
    border-radius: 5px;
    padding: 15px;
}

.flask_label{
    
    font-size: 2rem;
}

.flask_file_input{
    margin: 3rem;
}

.custom-file-label{
    margin: 3rem;
    font-size: 1.5rem;
}
