<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alzheimer's Disease</title>
</head>

        <!-- Site Icons -->
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename = 'images/apple-touch-icon.png') }}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
        <!-- Pogo Slider CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/pogo-slider.min.css') }}">
        <!-- Site CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">    
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/responsive.css') }}">

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
				<a class="navbar-brand" href="index.html"><img src="{{ url_for('static', filename = 'images/logo.png') }}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="#home">Upload MRI Scan</a></li>
                        <li><a class="nav-link" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>

<!-- <div  class="flask_main">
    <h1>Upload the MRI Scan</h1> 
    <div class="flask_container">

            <form action="/upload-image" method="POST" enctype="multipart/form-data">
                <div class="flask_form">
                    <label class="flask_label">Upload the MRI Scan</label>
                    <div class="flask_custom">
                        <input type="file" class="flask_file_input" name="image" id="image">
                        <label class="custom-file-label" for="image">Select image...</label>
                    </div>
                </div>
            <button type="submit" class="flask_btn">Upload</button>
            </form>
    </div>
</div> -->
<div class="container" style="margin: auto;">
    <h1 style="margin: auto; font-weight: 600; text-align: center;">Upload MRI Scan</h1>
    <div style="width: 85%; margin: auto;">
        <form action="/upload-image" method="POST" enctype="multipart/form-data">
            <label class="form-label" for="image">Choose Scanned Image</label>
            <input type="file" class="form-control" name="image" id="image" />
            <button type="submit" id="singlebutton" name="singlebutton" class="new-btn-d br-2" style="background-color: grey;margin: auto;" type="submit">Upload MRI Scan</button>
        </form>
    </div>
</div>

{% if predicted==True %}
<div class="container">
    <div style="margin: auto; padding: 2rem">
        <img src="data:image/jpeg;base64,{{imgData}}" alt="result" style="width: 60%;">
        <p style="font-size: 1.5rem;">
            <span style="font-size: 2rem; font-weight: 600;"> Prediction of Positive Result: </span>{{ supplied_text }}
        </p>
    </div>
</div>
{% endif %}

<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

<!-- ALL JS FILES -->
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
<!-- ALL PLUGINS -->
<script src="{{ url_for('static', filename = 'js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/jquery.pogo-slider.min.js') }}"></script> 
<script src="{{ url_for('static', filename = 'js/slider-index.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/form-validator.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/contact-form-script.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/isotope.min.js') }}"></script>	
<script src="{{ url_for('static', filename = 'js/images-loded.min.js') }}"></script>	
<script src="{{ url_for('static', filename = 'js/custom.js') }}"></script>
</body>
</html>